vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|09 Jan 2004 16:21:29 -0000
vti_extenderversion:SR|5.0.2.2623
vti_usagebymonth:UX|788 1117 1065 961 977 953 1016 587 482 476 683 877 727
vti_usagebyweek:UX|29 313 243 283 230
vti_usagebyday:UX|1 28 31 47 48 54 45 49
vti_usagelastupdated:TX|20 Mar 2005 21:02:03 -0000
vti_usagetotalhits:IX|10709
vti_backlinkinfo:VX|webalizer/web/usage_200402.html webalizer/web/usage_200403.html webalizer/web/usage_200404.html webalizer/web/usage_200405.html webalizer/web/usage_200401.html
vti_cacheddtm:TX|09 Jan 2004 16:21:29 -0000
vti_filesize:IR|3145
